[Desktop Entry]
Name=Text Editor
Name[ar]=محرّر نصوص
Name[az]=Mətn redaktoru
Name[bg]=Текстов редактор
Name[bs]=Uređivač teksta
Name[ca]=Editor de text
Name[ca@valencia]=Editor de text
Name[cs]=Textový editor
Name[da]= Teksteditor
Name[de]=Texteditor
Name[el]=Επεξεργαστής κειμένου
Name[en_GB]=Text Editor
Name[eo]=Tekstredaktilo
Name[es]=Editor de texto
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstimuokkain
Name[fr]=Éditeur de texte
Name[ga]=Eagarthóir Téacs
Name[gl]=Editor de textos
Name[he]=עורך טקסט
Name[hu]=Szövegszerkesztő
Name[ia]=Editor de texto
Name[id]=Pengedit Teks
Name[ie]=Redactor de textus
Name[it]=Editor di testo
Name[ja]=テキストエディタ
Name[ka]=ტექსტური რედაქტორი
Name[kk]=Мәтін редакторы
Name[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​​
Name[ko]=텍스트 편집기
Name[lt]=Rašyklė
Name[lv]=Teksta redaktors
Name[mr]=पाठ्य संपादक
Name[ms]=Penyunting Teks
Name[my]=စာသားတည်းဖြတ်ကိရိယာ
Name[nb]=Skriveprogram
Name[nds]=Texteditor
Name[nl]=Tekstbewerker
Name[nn]=Skriveprogram
Name[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
Name[pl]=Edytor tekstu
Name[pt]=Editor de Texto
Name[pt_BR]=Editor de Texto
Name[ro]=Redactor de text
Name[ru]=Текстовый редактор
Name[si]=පෙළ සකසනය
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sr]=Уређивач текста
Name[sr@ijekavian]=Уређивач текста
Name[sr@ijekavianlatin]=Uređivač teksta
Name[sr@latin]=Uređivač teksta
Name[sv]=Texteditor
Name[tg]=Таҳриргари матн
Name[tr]=Metin Düzenleyicisi
Name[ug]=تېكىست تەھرىرلىگۈچ
Name[uk]=Текстовий редактор
Name[vi]=Trình biên tập văn bản
Name[x-test]=xxText Editorxx
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
MimeType=text/plain;
Exec=kwrite %U
StartupNotify=true
Icon=kwrite
X-DocPath=kwrite/index.html
Type=Application
InitialPreference=8
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kwrite
Categories=Utility;
Keywords=text;txt;editor;note;notepad;
Keywords[ar]=نص;نصوص;دفتر;
Keywords[az]=mətn;txt;redaktor;qeyd;qeyd dəftəri;
Keywords[bg]=текст;редактор;бележка;
Keywords[ca]=text;txt;editor;nota;bloc de notes;
Keywords[ca@valencia]=text;txt;editor;nota;bloc de notes;
Keywords[el]=κείμενο;txt;κειμενογράφος;σημείωση;σημειωματάριο;
Keywords[en_GB]=text;txt;editor;note;notepad;
Keywords[eo]=teksto;txt;redaktilo;noto;plattekstredaktilo;
Keywords[es]=texto;txt;editor;nota;bloc de notas;
Keywords[eu]=testua;txt;editorea;oharra;ohar-bloka;
Keywords[fi]=teksti;txt;muokkain;editori;notepad;
Keywords[fr]=texte;txt;éditeur;note;bloc-notes;
Keywords[gl]=texto;txt;editor;nota;notas;
Keywords[hu]=szöveg;txt;szerkesztő;jegyzet;jegyzettömb;
Keywords[ia]=texto;txt;editor;nota;notepad;
Keywords[ie]=text;txt;redactor;bloc;note;notar;notepad;
Keywords[it]=testo;txt;editor;note;blocco note;
Keywords[ka]=text;txt;editor;note;notepad;
Keywords[ko]=text;txt;editor;note;notepad;텍스트;편집기;에디터;메모;메모장;
Keywords[nl]=text;txt;tekst;tekstbewerker;notitie;notitieblok;
Keywords[pl]=tekst;txt;edytor;uwaga;notatnik;
Keywords[pt]=texto;txt;editor;nota;bloco de notas;
Keywords[pt_BR]=texto;txt;editor;nota;notepad;bloco de notas;
Keywords[ru]=text;txt;editor;note;notepad;текст;редактор;заметка;блокнот;
Keywords[sk]=text;txt;editor;poznámka;poznámkový blok;
Keywords[sl]=besedilo;tekst;urejevalnik;zaznamek;beležnica;
Keywords[sv]=text;txt;editor;anteckning;anteckningsblock;
Keywords[tr]=metin;txt;düzenleyici;not;not defteri;
Keywords[uk]=text;txt;editor;note;notepad;текст;теексте;редактор;нотатка;нотатник;
Keywords[vi]=text;txt;editor;note;notepad;văn bản;trình biên tập;ghi chép;sổ ghi chép;
Keywords[x-test]=xxtextxx;xxtxtxx;xxeditorxx;xxnotexx;xxnotepadxx;
Keywords[zh_CN]=text;txt;editor;note;notepad;文字;文本;编辑器;笔记;记事本;wenzi;wenben;bianjiqi;biji;jishiben;
Keywords[zh_TW]=text;txt;editor;note;notepad;
StartupWMClass=kwrite
X-KDE-Shortcuts=Meta+T
