[Desktop Entry]
Exec=kcalc
Icon=accessories-calculator
X-DocPath=kcalc/index.html
Name=Scientific Calculator
Name[af]=Wetenskaplike Sakrekenaar
Name[ar]=آلة حاسبة علمية
Name[az]=Elmi hesablayıcı
Name[bg]=Научен калкулатор
Name[br]=Ur jederez skiantel
Name[bs]=Naučni kalkulator
Name[ca]=Calculadora científica
Name[ca@valencia]=Calculadora científica
Name[cs]=Vědecká kalkulačka
Name[cy]=Cyfrifydd Gwyddonol
Name[da]=Videnskabelig regnemaskine
Name[de]=Wissenschaftlicher Taschenrechner
Name[el]=Επιστημονική αριθμομηχανή
Name[en_GB]=Scientific Calculator
Name[eo]=Scienca kalkulilo
Name[es]=Calculadora científica
Name[et]=Teaduslik kalkulaator
Name[eu]=Kalkulagailu zientifikoa
Name[fa]=ماشین حساب علمی
Name[fi]=Tieteellinen laskin
Name[fr]=Calculatrice scientifique
Name[ga]=Áireamhán Eolaíochta
Name[gl]=Unha calculadora científica
Name[he]=מחשבון מדעי
Name[hi]=वैज्ञानिक केल्कुलेटर
Name[hne]=वैग्यानिक केल्कुलेटर
Name[hr]=Znanstveni kalkulator
Name[hu]=Tudományos számológép
Name[ia]=Calculator scientific
Name[id]=Kalkulator Ilmiah
Name[is]=Öflug reiknivél
Name[it]=Calcolatrice scientifica
Name[ja]=科学電卓
Name[ka]=სამეცნიერო კალკულატორი
Name[kk]=Ғылыми калькулятор
Name[km]=​ម៉ាស៊ីន​គិត​លេខ​​​វិទ្យាសាស្ត្រ
Name[ko]=공학용 계산기
Name[lt]=Mokslinis skaičiuotuvas
Name[lv]=Zinātniskais kalkulators
Name[mk]=Научен калкулатор
Name[mr]=शास्त्रीय गणकयंत्र
Name[ms]=Scientific Calculator
Name[nb]=Vitenskapelig kalkulator
Name[nds]=Wetenschaplich Taschenreekner
Name[ne]=वैज्ञानिक गणकयन्त्र
Name[nl]=Wetenschappelijke rekenmachine
Name[nn]=Vitskapleg kalkulator
Name[pa]=ਵਿਗਿਆਨਿਕ ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator naukowy
Name[pt]=Calculadora Cientifica
Name[pt_BR]=Calculadora científica
Name[ro]=Calculator științific
Name[ru]=Калькулятор
Name[sk]=Vedecká kalkulačka
Name[sl]=Znanstveno računalo
Name[sq]=Makinë Llogaritëse Shkencore
Name[sr]=Научни калкулатор
Name[sr@ijekavian]=Научни калкулатор
Name[sr@ijekavianlatin]=Naučni kalkulator
Name[sr@latin]=Naučni kalkulator
Name[sv]=Vetenskaplig miniräknare
Name[ta]=அறிவியலுக்கான கணிப்பான்
Name[tg]=Мошинаи ҳисобкунаки Илмӣ
Name[th]=เครื่องคิดเลขทางวิทยาศาสตร์
Name[tr]=Bilimsel Hesap Makinesi
Name[ug]=ئىلمىي ھېسابلىغۇچ
Name[uk]=Калькулятор для науковців
Name[uz]=Ilmiy kalkulyator
Name[uz@cyrillic]=Илмий калкулятор
Name[vi]=Máy Tính Khoa Học 
Name[wa]=Carculete syintifike
Name[xh]=Umatshini Wokubala Ezenzululwazi
Name[x-test]=xxScientific Calculatorxx
Name[zh_CN]=科学计算器
Name[zh_TW]=科學計算機
Type=Application
StartupNotify=true
Categories=Utility;
X-DBUS-ServiceName=org.kde.kcalc.desktop
# Qt5 maps the Calculator key to Key_Launch1, that may change with Qt6 (QBUG-25261)
X-KDE-Shortcuts=Launch (1)

