[Desktop Entry]
Name=Advanced Text Editor
Name[ar]=محرّر نصوص متقدّم
Name[az]=Əlavə mətn redaktoru
Name[bg]=Разширен текстов редактор на KDE
Name[bs]=Napredni uređivač teksta
Name[ca]=Editor de text avançat
Name[ca@valencia]=Editor de text avançat
Name[cs]=Pokročilý textový editor
Name[da]=Avanceret teksteditor
Name[de]=Erweiterter Texteditor
Name[el]=Προχωρημένος επεξεργαστής κειμένου
Name[en_GB]=Advanced Text Editor
Name[eo]=Altnivela Tekstredaktilo
Name[es]=Editor de texto avanzado
Name[et]=Täiustatud tekstiredaktor
Name[eu]=Testu-editore aurreratua
Name[fi]=Kehittynyt tekstimuokkain
Name[fr]=Éditeur de texte avancé
Name[ga]=Ardeagarthóir Téacs
Name[gl]=Editor avanzado de textos
Name[he]=עורך טקסט מתקדם
Name[hr]=Napredni uređivač teksta
Name[hu]=Speciális szövegszerkesztő
Name[ia]=Editor avantiate de texto
Name[id]=Pengedit Teks Tingkat Lanjut
Name[ie]=Redactor avansat de textus
Name[is]=Þróaður textaritill
Name[it]=Editor di testi avanzato
Name[ja]=高度なテキストエディタ
Name[ka]=გაუმჯობესებული ტექსტური რედაქტორი
Name[kk]=Үздік мәтін редакторы
Name[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​កម្រិត​ខ្ពស់
Name[ko]=고급 텍스트 편집기
Name[lt]=Sudėtingesnis teksto redaktorius
Name[lv]=Jaudīgs teksta redaktors
Name[mr]=प्रगत पाठ्य संपादक
Name[my]=အဆင့်မြင့်စာသားတည်းဖြတ်ကိရိယာ
Name[nb]=Avansert skriveprogram
Name[nds]=Verwiedert Texteditor
Name[ne]=उन्नत पाठ सम्पादक
Name[nl]=Geavanceerde teksteditor
Name[nn]=Avansert skriveprogram
Name[pa]=ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ
Name[pl]=Rozbudowany edytor tekstu
Name[pt]=Editor de Texto Avançado
Name[pt_BR]=Editor de textos avançado
Name[ro]=Redactor de text avansat
Name[ru]=Улучшенный текстовый редактор
Name[si]=උසස් පෙළ සකසනය
Name[sk]=Pokročilý textový editor
Name[sl]=Napredni urejevalnik besedil
Name[sr]=Напредни уређивач текста
Name[sr@ijekavian]=Напредни уређивач текста
Name[sr@ijekavianlatin]=Napredni uređivač teksta
Name[sr@latin]=Napredni uređivač teksta
Name[sv]=Avancerad texteditor
Name[tg]=Муҳаррири матнӣ (Васеъшуда)
Name[tr]=Gelişmiş Metin Düzenleyicisi
Name[ug]=ئالىي تېكىست تەھرىرلىگۈچ
Name[uk]=Потужний текстовий редактор
Name[vi]=Trình biên tập văn bản nâng cao
Name[x-test]=xxAdvanced Text Editorxx
Name[zh_CN]=多功能文本编辑器
Name[zh_TW]=進階文字編輯器
MimeType=text/plain;inode/directory;
Exec=kate -b %U
StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=kate
X-DocPath=kate/index.html
Type=Application
InitialPreference=9
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kate
Categories=Development;
Keywords=text;txt;editor;programming;programmer;development;developer;code;
Keywords[ar]=نص;نصوص;محرر;تطوير;برمجة;مبرمج;كود;
Keywords[az]=mətn;txt;redaktor;proqramlaşdırılma;proqramlayıcı;tərtibat;tərtibatçı;kod;
Keywords[bg]=текст;редактор;програмиране;разработка;код;
Keywords[ca]=text;txt;editor;programació;programador;desenvolupament;desenvolupador;codi;
Keywords[ca@valencia]=text;txt;editor;programació;programador;desenvolupament;desenvolupador;codi;
Keywords[el]=κείμενο;txt;κειμενογράφος;προγραμματισμός;προγραμματιστής;ανάπτυξη;προγραμματιστής;κώδικας;
Keywords[en_GB]=text;txt;editor;programming;programmer;development;developer;code;
Keywords[eo]=teksto;txt;redaktilo;programado;programisto;disvolviĝo;evoluiganto;kodo;
Keywords[es]=texto;editor;programación;programador;desarrollo;desarrollador;código;código fuente;
Keywords[eu]=testua;txt;editorea;programatzea;programatzailea;garapena;garatzailea;kodea;
Keywords[fi]=teksti;txt;muokkain;editori;ohjelmointi;kehitys;koodi;
Keywords[fr]=texte;txt;éditeur;programmation;programmeur;programmeuse;développement;développeur;développeuse;code;
Keywords[gl]=texto;txt;editor;programación;desenvolvemento;código;
Keywords[hu]=szöveg;txt;szerkesztő;programozás;programozó;fejlesztés;fejlesztő;kód;
Keywords[ia]=texto;txt;editor;programmar;programmator;disveloppamento;disveloppator;codice;
Keywords[ie]=text;txt;redactor;programma;programmero;developation;developator;code;
Keywords[it]=testo;txt;editor;programmazione;programmatore;sviluppo;sviluppatore;codice;
Keywords[ka]=text;txt;editor;programming;programmer;development;developer;code;
Keywords[ko]=text;txt;editor;programming;programmer;development;developer;code;텍스트;에디터;편집기;프로그래밍;프로그래머;개발;개발자;코드;
Keywords[nl]=text;tekst;txt;tekstbewerker;programmeren;programmeur;ontwikkeling;ontwikkelaar;code;
Keywords[pl]=tekst;txt;edytor;programowanie;programista;rozwój;programista;kod;
Keywords[pt]=texto;txt;editor;programação;programador;desenvolvimento;desenvolvedor;código;
Keywords[pt_BR]=texto;txt;editor;programação;programador;desenvolvimento;desenvolvedor;código;
Keywords[ru]=text;txt;editor;programming;programmer;development;developer;code;текст;редактор;программирование;программист;разработка;разработчик;код;
Keywords[sk]=text;txt;programovanie;programátor;vývoj;vývojár;kód;
Keywords[sl]=besedilo;txt;urejevalnik;programiranje;programer;razvoj;razvijalec;koda;
Keywords[sv]=text;txt;editor;programmering;programmerare;utveckling;utvecklare;kod;
Keywords[tr]=text;txt;düzenleyici;programlama;programcı;geliştirme;geliştirici;kod;
Keywords[uk]=text;txt;editor;programming;programmer;development;developer;code;текст;теексте;редактор;програмування;програміст;розробка;розробник;код;
Keywords[vi]=text;txt;editor;programming;programmer;development;developer;code;văn bản;trình biên tập;lập trình;lập trình viên;phát triển;nhà phát triển;mã;
Keywords[x-test]=xxtextxx;xxtxtxx;xxeditorxx;xxprogrammingxx;xxprogrammerxx;xxdevelopmentxx;xxdeveloperxx;xxcodexx;
Keywords[zh_CN]=text;txt;editor;programming;programmer;development;developer;code;文本;文字;编辑器;编程;程序员;开发;开发者;代码;wenben;wenzi;bianjiqi;biancheng;chengxuyuan;kaifa;kaifazhe;daima;
Keywords[zh_TW]=text;txt;editor;programming;programmer;development;developer;code;
StartupWMClass=kate
