[Desktop Entry]
Exec=kfind %u
Icon=kfind
X-DocPath=kfind/index.html
Type=Application
Name=Find Files/Folders
Name[ar]=اعثر على ملفات/مجلدات
Name[az]=Faylları/Qovluqları tapın
Name[be]=Пошук файлаў/каталогаў
Name[bg]=Търсене на файлове и папки
Name[ca]=Cerca de fitxers i carpetes
Name[ca@valencia]=Busca de fitxers i carpetes
Name[cs]=Najít soubory/složky
Name[da]=Find filer/mapper
Name[de]=Dateien/Ordner suchen
Name[el]=Αναζήτηση αρχείων/φακέλων
Name[en_GB]=Find Files/Folders
Name[eo]=Trovi Dosierojn/Dosierujojn
Name[es]=Buscar archivos/carpetas
Name[et]=Failide/kataloogide otsimine
Name[eu]=Bilatu fitxategiak/karpetak
Name[fi]=Etsi tiedostoja ja kansioita
Name[fr]=Trouver des fichiers ou dossiers
Name[gl]=Atopar ficheiros/cartafoles
Name[he]=חיפוש קבצים ותיקיות
Name[hi]=फ़ाइलें/फोल्डर ढूंढें
Name[hu]=Fájl- és mappakereső
Name[ia]=Trova files/dossieres
Name[id]=Temukan File/Folder
Name[ie]=Trovar files e fólderes
Name[is]=Finna skrár/möppur
Name[it]=Trova file/cartelle
Name[ka]=ფაილებისა და საქაღალდეების მოძებნა
Name[ko]=파일/폴더 찾기
Name[lt]=Ieškoti failų / aplankų
Name[nl]=Bestanden/mappen zoeken
Name[nn]=Finn filer/mapper
Name[pl]=Wyszukiwanie plików/katalogów
Name[pt]=Procurar nos Ficheiros/Pastas
Name[pt_BR]=Procurar arquivos/pastas
Name[ro]=Găsește fișiere/dosare
Name[ru]=Поиск файлов и папок
Name[sk]=Nájdenie súborov alebo priečinkov
Name[sl]=Poiščite datoteke in mape
Name[sr]=Тражење фајлова и фасцикли
Name[sr@ijekavian]=Тражење фајлова и фасцикли
Name[sr@ijekavianlatin]=Traženje fajlova i fascikli
Name[sr@latin]=Traženje fajlova i fascikli
Name[sv]=Hitta filer eller kataloger
Name[tr]=Dosya/Klasör Bul
Name[uk]=Пошук файлів та тек
Name[vi]=Tìm tệp/thư mục
Name[x-test]=xxFind Files/Foldersxx
Name[zh_CN]=查找文件/文件夹
Name[zh_TW]=尋找檔案/資料夾
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Utility;
X-DBUS-ServiceName=org.kde.kfind
X-KDE-Shortcuts=Meta+F
