[Desktop Entry]
Categories=Utility;
Comment=
Exec=elisa %U
Name=Music Player
Name[ar]=مشغّل صوتي إليسّا
Name[az]=Musiqi Pleyeri
Name[be]=Музычны прайгравальнік
Name[bg]=Слушане на музика
Name[ca]=Reproductor musical
Name[ca@valencia]=Reproductor musical
Name[cs]=Přehrávač hudby
Name[da]=Musikafspiller
Name[de]=Musik-Wiedergabe
Name[el]=Music Player
Name[en_GB]=Music Player
Name[eo]=Muzikludilo
Name[es]=Reproductor de música
Name[et]=Muusikamängija
Name[eu]=Musika jotzailea
Name[fi]=Musiikkisoitin
Name[fr]=Lecteur multimédia
Name[gl]=Reprodutor de música
Name[hi]=संगीत चालक
Name[hu]=Zenelejátszó
Name[ia]=Reproductor musical
Name[id]=Pemutar Musik
Name[it]=Lettore musicale
Name[ja]=音楽プレーヤー
Name[ka]=მედია დამკვრელი
Name[ko]=음악 재생기
Name[lt]=Muzikos grotuvas
Name[nl]=Muziekspeler
Name[nn]=Musikkspelar
Name[pa]=ਸੰਗੀਤ ਪਲੇਅਰ
Name[pl]=Odtwarzacz muzyki
Name[pt]=Leitor de Música
Name[pt_BR]=Reprodutor de músicas
Name[ro]=Lector audio
Name[ru]=Музыкальный проигрыватель
Name[sk]=Hudobný prehrávač
Name[sl]=Predvajalnik glasbe
Name[sv]=Musikspelare
Name[ta]=பாடல் இசைப்பி
Name[tr]=Müzik Çalar
Name[uk]=Музичний програвач
Name[x-test]=xxMusic Playerxx
Name[zh_CN]=音乐播放器
Name[zh_TW]=音樂播放器
Icon=elisa
StartupWMClass=elisa
Type=Application
MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;application/x-ogm-audio;audio/x-vorbis+ogg;audio/ogg;
SingleMainWindow=true
DBusActivatable=true
