# SPDX-FileCopyrightText: 2019 Dimitris Kardarakos <dimkard@posteo.net>
#
# SPDX-License-Identifier: BSD-2-Clause
[Desktop Entry]
Name=Calendar
Name[ca]=Calendari
Name[ca@valencia]=Calendari
Name[cs]=Kalendář
Name[de]=Kalender
Name[el]=Ηερολόγιο
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[eu]=Egutegia
Name[fi]=Kalenteri
Name[fr]=Agenda
Name[gl]=Calendario
Name[ia]=Calendario
Name[it]=Calendario
Name[ka]=კალენდარი
Name[ko]=캘린더
Name[nl]=Agenda
Name[nn]=Kalender
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sv]=Kalender
Name[tr]=Takvim
Name[uk]=Календар
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Keywords=Calendar;Event;Reminder;
Keywords[ca]=Calendari;Esdeveniment;Recordatori;
Keywords[ca@valencia]=Calendari;Esdeveniment;Recordatori;
Keywords[cs]=Kalendář;Událost;Upomínka;
Keywords[eo]=Kalendaro;Event;Memorigilo;
Keywords[es]=Calendario;Evento;Recordatorio;
Keywords[eu]=Egutegia;Ekitaldia;Oroigarria;
Keywords[fi]=Kalenteri;Tapahtuma;Muistutus;
Keywords[fr]=Agenda ; évènement ; rappel ;
Keywords[gl]=calendario;almanaque;evento;acontecemento;suceso;recordatorio;lembranza;
Keywords[ia]=Calendario;Evento;Memento;
Keywords[it]=Calendario;Evento;Promemoria;
Keywords[ka]=Calendar;Event;Reminder;კალენდარი;მოვლენა;შეხსენება;
Keywords[ko]=Calendar;Event;Reminder;캘린더;달력;이벤트;행사;알림;미리 알림;리마인더;
Keywords[nl]=Agenda;Gebeurtenis;Herinnering;
Keywords[pl]=Kalendarz;Wydarzenie;Przypomnienie;
Keywords[pt_BR]=calendário;evento;lembrete;
Keywords[sl]=Koledar;Dogodek;Opomnik;
Keywords[sv]=Kalender;Händelse;Påminnelse;
Keywords[tr]=Takvim;Etkinlik;Anımsatıcı;Hatırlatıcı;
Keywords[uk]=Calendar;Event;Reminder;Календар;Подія;Нагадування;
Keywords[x-test]=xxCalendarxx;xxEventxx;xxReminderxx;
Keywords[zh_CN]=Calendar;Event;Reminder;日历;事件;提醒;rili;shijian;tixing;
Keywords[zh_TW]=Calendar;Event;Reminder;行事曆;提醒;
Exec=calindori %f
Icon=calindori
Type=Application
Terminal=false
Categories=Utility;
MimeType=text/calendar
X-KDE-FormFactor=desktop;tablet;handset;
X-KDE-Shortcuts=Meta+C
