# KDE Config File
[Desktop Entry]
Name=Disk Usage Statistics
Name[ar]=إحصائيّات استخدام القرص
Name[az]=Disk İstifadəsi Statistikaları
Name[bg]=Статистика на използване на диска
Name[bs]=Statistika upotrebe diska
Name[ca]=Estadístiques d'ús del disc
Name[ca@valencia]=Estadístiques d'ús del disc
Name[cs]=Statistika použití disku
Name[da]=Statistik over diskforbrug
Name[de]=Statistik über Festplattenbelegung
Name[el]=Στατιστικά χρήσης δίσκου
Name[en_GB]=Disk Usage Statistics
Name[eo]=Statistiko pri Diskuzado
Name[es]=Estadísticas de uso de discos
Name[et]=Kettakasutuse statistika
Name[eu]=Diskoen erabilerari buruzko estatistikak
Name[fi]=Levynkäyttötilastot
Name[fr]=Statistiques d'utilisation de disques
Name[ga]=Staitisticí maidir le húsáid diosca
Name[gl]=Estatísticas de uso do disco
Name[he]=סטטיסטיקות שימוש בכונן
Name[hi]=डिस्क उपयोग आंकड़े
Name[hr]=Statistika o upotrebi diska
Name[hu]=Lemezhasználati statisztika
Name[ia]=Statisticas de uso de disco
Name[id]=Statistik Penggunaan Disk
Name[ie]=Statistica del usage de disc-spacie
Name[is]=Tölfræði notkunar á diskaplássi
Name[it]=Statistiche uso del disco
Name[ja]=ディスク使用情報統計
Name[ka]=დისკის გამოყენების სტატისტიკა
Name[kk]=Дискінің статистикасы
Name[km]=ស្ថិតិ​ប្រើប្រាស់​ថាស
Name[ko]=디스크 사용 통계
Name[lt]=Disko naudojimo statistika
Name[lv]=Diska izlietojuma statistika
Name[mr]=डिस्क वापर आकडेवारी
Name[nb]=Statistikk over diskbruk
Name[nds]=Fastplaatbruuk-Statistik
Name[nl]=Gebruiksstatistieken van schijven
Name[nn]=Statistikk over diskbruk
Name[pa]=ਡਿਸਕ ਵਰਤੋਂ ਅੰਕੜੇ
Name[pl]=Statystyki wykorzystania dysku
Name[pt]=Estatísticas de Utilização do Disco
Name[pt_BR]=Estatísticas de uso do disco
Name[ro]=Statistici utilizare disc
Name[ru]=Использование дисков
Name[sk]=Štatistiky využitia disku
Name[sl]=Statistika uporabe diska
Name[sr]=Статистика искоришћености дискова
Name[sr@ijekavian]=Статистика искоришћености дискова
Name[sr@ijekavianlatin]=Statistika iskorišćenosti diskova
Name[sr@latin]=Statistika iskorišćenosti diskova
Name[sv]=Statistik över diskanvändning
Name[th]=สถิติการใช้งานพื้นที่ดิสก์
Name[tr]=Disk Kullanım İstatistikleri
Name[uk]=Статистика використання диска
Name[x-test]=xxDisk Usage Statisticsxx
Name[zh_CN]=磁盘使用情况统计
Name[zh_TW]=磁碟用量統計
Type=Application
Exec=filelight %u
Icon=filelight
Comment=Show disk usage and delete unused files
Comment[ar]=اعرض المساحة المستخدمة من القرص واحذف الملفات غير المستخدمة
Comment[bg]=Показване на използването на диска и изтриване на неизползвани файлове
Comment[ca]=Mostra l'ús del disc i suprimeix els fitxers sense ús
Comment[ca@valencia]=Mostra l'ús del disc i suprimix els fitxers sense ús
Comment[cs]=Zobrazit využití disku a smazat nepoužívané soubory
Comment[de]=Festplattenbelegung anzeigen und ungenutzte Dateien löschen
Comment[en_GB]=Show disk usage and delete unused files
Comment[eo]=Montri diskuzadon kaj forigi neuzitajn dosierojn
Comment[es]=Mostrar el uso del disco y borrar archivos no usados
Comment[eu]=Diskoaren erabilera erakustea eta erabili gabeko fitxategiak ezabatzea
Comment[fi]=Näytä levynkäyttö ja poista käyttämättömiä tiedostoja
Comment[fr]=Afficher l'utilisation du disque et supprimer les fichiers non utilisés
Comment[gl]=Amosar o uso de disco e eliminar ficheiros sen usar.
Comment[ia]=Monstra usage de disco e dele files non usate
Comment[id]=Menampilkan penggunaan disk dan hapus file yang tidak terpakai
Comment[ie]=Monstrar li usage de disco e remover ínnecessi files
Comment[is]=Sýna nýtingu diska og eyða ónotuðum skrám
Comment[it]=Mostra l'utilizzo del disco ed elimina i file inutilizzati
Comment[ja]=ファイルの利用状況の表示と不要なファイルの削除ができます
Comment[ka]=დისკის გამოყენების ჩვენება და გამოუყენებელი ფაილებს წაშლა
Comment[ko]=디스크 사용 통계를 보고 사용하지 않는 파일 삭제
Comment[nl]=Schijfgebruik tonen en ongebruikte bestanden verwijderen
Comment[nn]=Visualiser diskbruk og slett ubrukte filer
Comment[pl]=Pokaż wykorzystanie dysku i usuń nieużywane pliki
Comment[pt]=Mostrar a utilização do disco e apagar os ficheiros não usados
Comment[pt_BR]=Mostra o uso do disco e exclui arquivos não utilizados
Comment[ru]=Просмотр сведений об использовании дискового пространства и удаление неиспользуемых файлов
Comment[sl]=Prikazuje rabo diska in briše neuporabljene datoteke
Comment[sv]=Visa diskanvändning och ta bort oanvända filer
Comment[tr]=Disk kullanımına bakın ve kullanılmayan dosyaları silin
Comment[uk]=Показ даних щодо використання диска і вилучення зайвих файлів
Comment[x-test]=xxShow disk usage and delete unused filesxx
Comment[zh_CN]=显示磁盘使用情况并删除未使用的文件
Comment[zh_TW]=顯示磁碟用量、刪除不需要的檔案
Keywords=disk;drive;space;storage;usage;
Keywords[ar]=قرص;مساحة;تخزين;استعمال;متبقي;حر;دسك;
Keywords[az]=disk;sahə;yaddaş;istifadəsi;
Keywords[bg]=диск;място;съхранение;използване;
Keywords[ca]=disc;unitat;espai;emmagatzematge;ús;
Keywords[ca@valencia]=disc;unitat;espai;emmagatzematge;ús;
Keywords[cs]=disk;mechanika;místo;úložiště;využití;
Keywords[de]=Festplatte;Platte;Speicher;Speicherplatz;Verwendung;
Keywords[en_GB]=disk;drive;space;storage;usage;
Keywords[eo]=disko;diskaparato;spaco;konservejo;uzado;
Keywords[es]=disco;unidad;espacio;almacenamiento;uso;
Keywords[eu]=diskoa;unitatea;espazioa;lekua;biltegia;erabilera;
Keywords[fi]=levy;asema;levytila;tila;tallennustila;käyttö;
Keywords[fr]=disque ; lecteur ; espace ; stockage ; utilisation ;
Keywords[gl]=disco;espazo;almacenamento;uso;
Keywords[hu]=lemez;meghajtó;terület;tároló;használat;
Keywords[ia]=disco;drive;spatio;immagazinage;uso;
Keywords[id]=disk;drive;ruang;penyimpanan;penggunaan;
Keywords[ie]=disco;unité;spacie;magasinage;usage;
Keywords[is]=diskur;drif;rými;pláss;geymslurými;notkun;
Keywords[it]=disco;drive;spazio;archiviazione;utilizzo;
Keywords[ja]=ディスク;ドライブ;空間;ストレージ;使用量;
Keywords[ka]=disk;drive;space;storage;usage;
Keywords[ko]=disk;drive;space;storage;usage;디스크;드라이브;공간;저장소;스토리지;사용;사용량;
Keywords[nl]=schijf;schijfstation;ruimte;opslag;gebruik;
Keywords[nn]=disk;harddisk;stasjon;plass;diskplass;lagring;bruk;
Keywords[pl]=dysk;napęd;przestrzeń;przechowywanie;użycie;
Keywords[pt]=disco;unidade;espaço;armazenamento;utilização;
Keywords[pt_BR]=disco;unidade;espaço;armazenamento;uso;
Keywords[ro]=disc;unitate;spațiu;stocare;utilizare;
Keywords[ru]=disk;drive;space;storage;usage;диск;накопитель;место;хранилище;дисковое пространство;использование;
Keywords[sk]=disk;jednotka;priestor;úložisko;použitie;
Keywords[sl]=disk;pogon;prostor;shranjevanje;uporaba;raba;
Keywords[sv]=disk;drivenhet;utrymme;lagring;användning;
Keywords[tr]=disk;sürücü;alan;depolama;kullanım;
Keywords[uk]=disk;drive;space;storage;usage;диск;пристрій;місце;зберігання;сховище;використання;вжиток;
Keywords[x-test]=xxdiskxx;xxdrivexx;xxspacexx;xxstoragexx;xxusagexx;
Keywords[zh_CN]=disk;drive;space;storage;usage;磁盘;驱动器;存储;空间;容量;占用;使用情况;空间占用;剩余空间;cipan;qudongqi;cunchu;kongjian;rongliang;zhanyong;shiyongqingk;kongjianzhanyong;shengyukongjian;
Keywords[zh_TW]=disk;drive;space;storage;usage;磁碟用量;硬碟用量;
MimeType=inode/directory;
X-DocPath=filelight/index.html
Categories=System;
X-DBUS-ServiceName=org.kde.filelight
