# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmag
Icon=kmag
X-DocPath=kmag/index.html
Name=Screen Magnifier
Name[ar]=مكبَر الشاشة
Name[be]=Экранная лупа
Name[bg]=Лупа за екрана
Name[bs]=Uveličavač ekrana
Name[ca]=Lupa de la pantalla
Name[ca@valencia]=Lupa de la pantalla
Name[cs]=Lupa obrazovky
Name[cy]=KChwyddwr
Name[da]=Skærmforstørrer
Name[de]=Bildschirmlupe
Name[el]=Μεγεθυντικός φακός οθόνης
Name[en_GB]=Screen Magnifier
Name[eo]=Ekranlupeo
Name[es]=Lupa de la pantalla
Name[et]=Ekraani suurendaja
Name[eu]=Pantailaren lupa
Name[fa]=درشت‌نمای پرده
Name[fi]=Suurennuslasi
Name[fr]=Loupe d'écran
Name[ga]=Formhéadaitheoir Scáileáin
Name[gl]=Lupa da pantalla
Name[he]=זכוכית מגדלת
Name[hi]=स्क्रीन आवर्धक
Name[hne]=स्क्रीन आवर्धक
Name[hr]=Zaslonsko povećalo
Name[hu]=Képernyőnagyító
Name[ia]=Aggranditor de schermo
Name[is]=Skjástækkari
Name[it]=Lente di ingrandimento per lo schermo
Name[ja]=画面拡大鏡
Name[ka]=ეკრანის გამადიდებელი
Name[kk]=Экран үлкейткіші
Name[km]= កម្មវិធី​ពង្រីក​អេក្រង់​
Name[ko]=화면 돋보기
Name[ku]=Nêzîkera Dîmenê
Name[lt]=Ekrano didintuvas
Name[lv]=Ekrāna palielināmais stikls
Name[mk]=Зголемувач за екранот
Name[ml]=യവനികയിലെ ഭൂതക്കണ്ണാടി
Name[mr]=स्क्रीन वर्धक
Name[ms]=Pembesar Skrin
Name[nb]=Skjermforstørrer
Name[nds]=Schirmluup
Name[ne]=पर्दा अभिवर्धक
Name[nl]=Schermvergroter
Name[nn]=Skjermforstørrar
Name[pa]=ਸਕਰੀਨ ਵੱਡਦਰਸ਼ੀ
Name[pl]=Powiększanie fragmentów ekranu
Name[pt]=Lupa do Ecrã
Name[pt_BR]=Lupa da tela
Name[ro]=Lupă de ecran
Name[ru]=Экранная лупа
Name[sk]=Lupa obrazovky
Name[sl]=Približevalnik zaslona
Name[sq]=Zmadhuesi i Ekranit
Name[sr]=Увеличавач екрана
Name[sr@ijekavian]=Увеличавач екрана
Name[sr@ijekavianlatin]=Uveličavač ekrana
Name[sr@latin]=Uveličavač ekrana
Name[sv]=Förstoringsglas
Name[ta]=திரை பெரிதாக்கி
Name[tg]=Калон кардани экран
Name[tr]=Ekran Büyüteci
Name[ug]=ئېكران چوڭايتقۇ
Name[uk]=Збільшувач екрана
Name[uz]=Ekranni kattalashtiruvchi
Name[uz@cyrillic]=Экранни катталаштирувчи
Name[vi]=Trình phóng đại màn hình
Name[x-test]=xxScreen Magnifierxx
Name[zh_CN]=屏幕放大镜
Name[zh_TW]=螢幕放大鏡
Categories=Utility;
X-DBUS-ServiceName=org.kde.kmag
