[Desktop Entry]
Type=Application
Exec=skanlite
Icon=org.kde.skanlite
X-DocPath=skanlite/index.html
Terminal=false
Name=Image Scanning Application
Name[ar]=تطبيق لمسح الصّور ضوئيًّا
Name[az]=Təsviri tarama tətbiqi
Name[be]=Праграма для сканавання выяў
Name[bg]=Програма за сканиране на изображения
Name[bs]=Program za skeniranje slika
Name[ca]=Aplicació de digitalització d'imatges
Name[ca@valencia]=Aplicació de digitalització d'imatges
Name[cs]=Aplikace pro skenování obrázků
Name[da]=Program til scanning af billeder
Name[de]=Anwendung zum Scannen von Bildern
Name[el]=Εφαρμογή σάρωσης εικόνων
Name[en_GB]=Image Scanning Application
Name[eo]=Aplikaĵo por skani bildojn
Name[es]=Aplicación de escaneo de imágenes
Name[et]=Piltide skaneerimise rakendus
Name[eu]=Irudiak eskaneatzeko aplikazioa
Name[fi]=Kuvien skannaussovellus
Name[fr]=Application de numérisation
Name[ga]=Feidhmchlár Scanta Íomhánna
Name[gl]=Aplicación de dixitalización de imaxes
Name[hi]=छवि स्कैन करने का अनुप्रयोग
Name[hu]=Képolvasó alkalmazás
Name[ia]=Application pro scander imagines
Name[id]=Aplikasi Pemindaian Citra
Name[ie]=Scannation de images
Name[is]=Myndskönnunarforrit
Name[it]=Applicazione per la scansione di immagini
Name[ja]=画像スキャンソフト
Name[ka]=სურათების სკანირების აპლიკაცია
Name[km]=កម្មវិធី​ស្កេន​រូបភាព
Name[ko]=그림 스캔 앱
Name[ku]=Sepana Venihartina Wêneyan
Name[lt]=Paveikslų skenavimo programa
Name[lv]=Attēlu skenēšanas programma
Name[ml]=ചിത്രം പകര്‍ത്തിയെടുക്കാനുള്ള പ്രയോഗം
Name[mr]=प्रतिमा स्कॅन करणारा अनुप्रयोग
Name[ms]=Aplikasi Pengimbas Imej
Name[nb]=Bildeskanningsprogram
Name[nds]=Bildinlees-Programm
Name[nl]=Afbeeldingscanprogramma
Name[nn]=Biletskanningsprogram
Name[pa]=ਚਿੱਤਰ ਸਕੈਨ ਕਰਨ ਲਈ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Program do skanowania
Name[pt]=Aplicação de Digitalização de Imagens
Name[pt_BR]=Aplicativo para digitalização de imagens
Name[ro]=Aplicație de scanare a imaginilor
Name[ru]=Сканирование изображений
Name[sk]=Aplikácia na skenovanie obrázkov
Name[sl]=Program za optično branje slik
Name[sq]=Program Për Skanimin e Imazheve
Name[sv]=Program för bildinläsning
Name[tr]=Görsel Tarama Uygulaması
Name[ug]=سۈرەت شويلىلاش پروگراممىسى
Name[uk]=Програма для сканування зображень
Name[x-test]=xxImage Scanning Applicationxx
Name[zh_CN]=图像扫描程序
Name[zh_TW]=影像掃描程式
Categories=Utility;
X-DBUS-ServiceName=org.kde.skanlite
StartupWMClass=skanlite
